# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

backups/
auto-save-list/
eln-cache/
elpa/
.cache/
.lsp*
projectile*
